[Unit]
Description=Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/kalilex/elexchangesbot
EnvironmentFile=/home/kalilex/elexchangesbot/.env
ExecStart=/home/kalilex/elexchangesbot/venv/bin/python bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

